<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GuessWhatLookingAt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MvvmNavigation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GuessWhatLookingAt.Properties.Settings>
            <setting name="PupilAdressString" serializeAs="String">
                <value>tcp://127.0.0.1:50020</value>
            </setting>
            <setting name="EyeTribePort" serializeAs="String">
                <value>6555</value>
            </setting>
            <setting name="AttemptsAmount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RoundsAmount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PhotoTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="EyeTribeTime" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DisplayPupilGazePoint" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayEyeTribeGazePoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameToRanking" serializeAs="String">
                <value>Player</value>
            </setting>
        </GuessWhatLookingAt.Properties.Settings>
        <MvvmNavigation.Properties.Settings>
            <setting name="EyeTribe" serializeAs="String">
                <value>EYETRIBE</value>
            </setting>
            <setting name="Number" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Number2" serializeAs="String">
                <value>16</value>
            </setting>
        </MvvmNavigation.Properties.Settings>
    </userSettings>
</configuration>